#ToggleContainer{
	position: fixed;
	width: 98%;
	right: 1%;
	top: 2%;
	background: red;
}

#ContentContainer{
	position: fixed;
	width: 60%;
	right: 20%;
	top: 10%;
	text-align: center;
}

#staffTable, #studentTable{
	top: 20%;
}

#addStaff, #addStudent{
	left: 25%;
}
#updateStaff, #updateStudent{
	left: 42.5%;
}
#deleteStaff, #deleteStudent{
	right: 25%;
}

#staffButton{
	left: 20%;
}

#studentButton{
	right: 20%;
}