body{
	text-align: center;
	width: 100%;
	height: 100%;
	right: 0;
	background: lightgrey;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
}
.Sidebar{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;
	background: green;
}